<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="martinjuarez-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="martinjuarez-dashboard">
  <script src="martinjuarez-dashboard.js"></script>
</dom-module>
