@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --martinjuarez-dashboard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

p{
  text-align: center;
font-size: 30px;
  text-shadow: 2px 2px red;
font-family: "Times New Roman", Times, serif;
}

.search{
  text-align:center;
  font-size: 20px;
}

.card{
  text-align: center;
    text-shadow: 3px 2px lightgreen;

}

img{
  border-radius: 15%;
}
